<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon.svg" />
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon.svg" />
    <link rel="manifest" href="./site.webmanifest" />
    <link rel="preconnect" href="https://unpkg.com/" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css" />
    <link rel="stylesheet" href="./css/master.css" />
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <!-- --- เปลี่ยนชื่อหน้าใน Tag นี้ --- -->
    <title>Pre-Dek Work | Register</title>
</head>

<body>
    <div id="app">
        <!-- --- เริ่มแก้ไขตั้งแต่ตรงนี้ --- -->
        <div style=" background-image: url('../assets/background.png');background-size: cover; background-position: fixed; background-repeat: no-repeat; background-attachment: fixed; background-position: center;">
            <div class="columns is-mobile is-vcentered is-centered" style="height:100vh;margin:0">
                <div class="column is-5-tablet is-12-mobile content box-input">
                    <div style="width:80%;margin:auto;margin-bottom: 20px;">
                        <form>
                            <div class="spacer is-1x"></div>
                            <h1>สมัครสมาชิก</h1>
                            <hr />
                            <b-field label="อีเมล">
                                <b-input type="email" v-model="email" placeholder="e-mail" required></b-input>
                            </b-field>
                            <b-field label="รหัสผ่าน">
                                <b-input v-model="password" type="password" placeholder="••••••••"></b-input>
                            </b-field>
                            <b-field label="ยืนยันรหัสผ่าน">
                                <b-input v-model="c_password" type="password" placeholder="••••••••"></b-input>
                            </b-field>
                            <div class="field">
                                <label class="label">คุณคือ</label>
                                <div class="control" style="margin-bottom: 10px;">
                                    <b-field>
                                        <b-select class="is-fullwidth" placeholder="Select a task" v-model="role" expanded>
                                            <option v-for="(list,i) in position" :key="i">{{list.role}}
                                            </option>
                                        </b-select>
                                    </b-field>
                                </div>
                                <p>*Pre-Dek : สำหรับนักศึกษาที่ต้องการหางาน
                                    </br>
                                    *Work : สำหรับบริษัทที่ต้องการรับเด็กเข้าทำงาน
                                </p>
                            </div>

                            <b-button type="is-primary is-success" @click="addUser()" expanded>สมัครสมาชิก
                            </b-button>
                            <div class="spacer"></div>
                            <div class="has-text-centered">
                                <a style="text-decoration:underline" @click="gotoLogin()">เข้าสู่ระบบ</a>
                            </div>
                            <div class="spacer is-1x"></div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
        <!-- --- อย่าแก้อะไรหลังจากนี้ --- -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/buefy.min.js"></script>
    <style lang="scss" scoped>
        .box-input {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            background-color: rgba(255, 255, 255, 0.9);
            ;
            border-radius: 40px 40px 40px 40px;
        }
    </style>
    <script defer>
        // --- เขียน Vue ในนี้จ้า ---
        new Vue({
            el: "#app",
            data: {
                position: [{
                    role: "Pre-Dek"
                }, {
                    role: "Work"
                }],
                role: "",
                password: "",
                c_password: "",
                email: "",
            },
            computed: {

            },
            methods: {
                addUser() {
                    const loadingComponent = this.$buefy.loading.open();
                    const a = this.email.search("@");
                    // console.log(a)
                    if (this.email.search("@") <= 0) {
                        this.$buefy.toast.open({
                            duration: 3000,
                            message: 'กรุณาหรอกข้อมูลให้ครบ!',
                            type: 'is-danger'
                        })
                        loadingComponent.close()
                    } else if (this.password === "" || this.email === "" || this.role === "") {
                        this.$buefy.toast.open({
                            duration: 3000,
                            message: 'กรุณาหรอกข้อมูลให้ครบ!',
                            type: 'is-danger'
                        })
                        loadingComponent.close()
                    } else if (this.password.length < 6) {
                        this.$buefy.toast.open({
                            duration: 3000,
                            message: 'รหัสผ่านต้องมีอย่างน้อย 6 ตัวอักษร ! ',
                            type: 'is-danger'
                        })
                        loadingComponent.close()
                    } else if (this.password !== this.c_password) {
                        this.$buefy.toast.open({
                            duration: 3000,
                            message: 'รหัสผ่านไม่ตรงกัน !',
                            type: 'is-danger'
                        })
                        loadingComponent.close()
                    } else {
                        fetch("/api/register", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({
                                    password: this.password,
                                    email: this.email,
                                    role: this.role,
                                }),
                            }).then(response => {
                                if (response.ok) return window.location.href = "./"
                                else {
                                    this.$buefy.toast.open({
                                        duration: 3000,
                                        message: 'อีเมลนี้ได้ทำการลงทะเบียนไว้แล้ว! ',
                                        type: 'is-danger'
                                    })
                                }
                            })
                            .then(data => {
                                if (!data) return
                                if (data.u_role === 'pre-dek' && data.activate_status === 'success') {
                                    window.location.href = "./preDekHome"
                                } else if (data.u_role === 'work' && data.activate_status === 'success') {
                                    window.location.href = "./workHome"
                                } else if (data.u_role === 'pre-dek' && data.activate_status === 'unsuccess') {
                                    window.location.href = "./preDekDetail"
                                } else if (data.u_role === 'work' && data.activate_status === 'unsuccess') {
                                    window.location.href = "./workDetail"
                                }
                            })
                        loadingComponent.close()
                    }
                },
                checkUserIsLogin() {
                    const loadingComponent = this.$buefy.loading.open();
                    fetch("/api/check", {
                            method: "POST",
                        })
                        .then(response => {
                            if (response.ok) return response.json()
                        })
                        .then(data => {
                            if (!data) return
                            if (data.u_role === 'admin') {
                                window.location.href = "./PreDekFind"
                            } else if (data.u_role === 'pre-dek' && data.activate_status === 'success') {
                                window.location.href = "./preDekHome"
                            } else if (data.u_role === 'work' && data.activate_status === 'success') {
                                window.location.href = "./workHome"
                            } else if (data.u_role === 'pre-dek' && data.activate_status === 'unsuccess') {
                                window.location.href = "./preDekDetail"
                            } else if (data.u_role === 'work' && data.activate_status === 'unsuccess') {
                                window.location.href = "./workDetail"
                            }
                        })
                    loadingComponent.close()
                },
                /////////////////////////logout////////////////////////////////////
                gotoLogin() {
                    window.location.href = "./loginUser"
                },
                ///////////////////////////////////////////////////////////////////////
            },
            created: function() {
                this.checkUserIsLogin();
            },
        });
    </script>





</body>

</html>