<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon.svg" />
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon.svg" />
    <link rel="manifest" href="./site.webmanifest" />
    <link rel="preconnect" href="https://unpkg.com/" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css" />
    <link rel="stylesheet" href="./css/master.css" />
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <!-- --- เปลี่ยนชื่อหน้าใน Tag นี้ --- -->
    <title>Pre-Dek Work | Profile</title>
</head>

<body style=" background-image: url('../assets/background.png');background-size: cover; background-position: fixed; background-repeat: no-repeat; background-attachment: fixed; background-position: center;">
    <div id="app">
        <!-- --- เริ่มแก้ไขตั้งแต่ตรงนี้ --- -->
        <!--/////////////////////////////////////////////navbar//////////////////////////////////////////////////-->
        <nav style=" padding: 1rem;" class="navbar" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-item">
                    <img src="./favicon.svg" style="max-height:50px">
                </div>
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <b-navbar-item href="/workHome">หน้าแรก</b-navbar-item>
                        <b-navbar-item href="/workCreate">รับสมัครเพิ่ม</b-navbar-item>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <b-button type="is-info" @click="gotprofile()" outlined>{{cerUser.u_email}}</b-button>
                        </div>
                        <div class="navbar-item">
                            <b-button type="is-danger" @click="checkUserLogout()" outlined>Logout</b-button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--/////////////////////////////////////////////navbar//////////////////////////////////////////////////-->
        <div style="margin-top: 10px;" class="container">
            <div class="box">

                <div class="level">
                    <div class="level-left">
                        <h1 class="title">
                            <i class="fas fa-plus"></i> ข้อมูลของท่าน
                        </h1>
                    </div>
                    <div class="level-right">
                        <div class="column">
                            <div class="is-centered">
                                <figure v-if="PreData[0].imgName !='none'" class="image is-128x128 is-centered">
                                    <img style="object-fit: scale-down;height: 128px;" :src="'./assets/pre-img/' + PreData[0].imgName" />
                                    <!-- ใส่ : หน้า src -->
                                </figure>
                            </div>
                            <div class="spacer is-1x"></div>
                            <div class="is-centered">
                                <div v-if="PreData[0].imgName !='none'" class="item is-right">
                                    <b-button class="is-small is-right" type="is-info" @click="openTap=true">แก้ไขรูปประจำตัว</b-button>
                                </div>

                                <div v-else class="item is-right">
                                    <b-button class="is-small is-right" type="is-info" @click="openTap=true">อัพโหลดรูปประจำตัว</b-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="columns">
                    <div class="column is-6">
                        <div class="field">
                            <label class="label">ชื่อบริษัท</label>
                            <div class="control">
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <b-field>
                                            <b-input type="text" v-model="PreData[0].com_name" readonly></b-input>
                                        </b-field>
                                    </div>
                                    <div class="control">
                                        <button class="button" @click="editComName = true">
                                            <span class="icon">
                                                <i class="fas fa-pen"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            <label class="label">เบอร์โทรศัพท์</label>
                            <div class="control">
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <b-field>
                                            <b-input type="text" v-model="PreData[0].com_phone" readonly></b-input>
                                        </b-field>
                                    </div>
                                    <div class="control">
                                        <button class="button" @click="editPhone = true">
                          <span class="icon">
                            <i class="fas fa-pen"></i>
                          </span>
                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns" style="align-items:flex-end">
                    <div class="column">
                        <div class="field">
                            <label class="label">ที่อยู่</label>
                            <div class="control">
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <b-field>
                                            <b-input type="text" v-model="PreData[0].com_address" readonly></b-input>
                                        </b-field>
                                    </div>
                                    <div class="control">
                                        <button class="button" @click="editAddress = true">
                                            <span class="icon">
                                                <i class="fas fa-pen"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="columns" style="align-items:flex-end"></div>
                <div class="columns">
                    <div class="column is-6">
                        <div class="field">
                            <label class="label">E-mail</label>
                            <div class="control">
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <b-field>
                                            <b-input type="text" v-model="PreData[0].u_email" readonly></b-input>
                                        </b-field>
                                    </div>
                                    <div class="control">
                                        <button class="button" @click="editEmail = true">
                                            <span class="icon">
                                                <i class="fas fa-pen"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <b-field>
                                            <b-input readonly v-model="pass"></b-input>
                                        </b-field>
                                    </div>
                                    <div class="control">
                                        <button class="button" @click="editPassword = true">
                                            <span class="icon">
                                                <i class="fas fa-pen"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />
                <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <b-modal :active.sync="openTap" :width="890" scroll="keep">
                    <div class="card">
                        <header class="modal-card-head">
                            <div class="title is-5">
                                <div class="title is-5">
                                    อัพโหลดรูปประจำตัว
                                </div>
                            </div>
                        </header>
                        <div class="spacer is-2x"></div>
                        <div class="care-content">
                            <div class="field">
                                <form method="POST" action="/api/uploadfile" enctype="multipart/form-data">
                                    <div class="file is-boxed is-centered">
                                        <input type="file" name="file">
                                    </div>
                                    <div class="spacer is-2x"></div>
                                    <div class="spacer is-1x"></div>
                                    <div class="field is-grouped" style="justify-content:center">
                                        <div class="control">
                                            <button class="button is-danger" @click="openTap = false">&emsp;ยกเลิก&emsp;</button>
                                        </div>
                                        <div class="control">
                                            <button class="button is-success" type="input" type="submit">&emsp;อัพโหลด&emsp;</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="spacer is-2x"></div>
                                <div class="spacer is-1x"></div>
                            </div>
                        </div>
                    </div>
                </b-modal>

                <b-modal :active.sync="editPassword" :width="640" scroll="keep">
                    <div class="card">
                        <header class="modal-card-head">
                            <div class="title is-5">
                                <div class="title is-5">
                                    กรุณาใส่ข้อมูล
                                </div>
                            </div>
                        </header>
                        <div class="card-content">
                            <div class="field">
                                <label class="label">รหัสผ่าน</label>
                                <div class="control">
                                    <input type="password" v-model="cpass" class="input" placeholder="••••••••" />
                                </div>
                                <label class="label">รหัสผ่าน ใหม่</label>
                                <div class="control">
                                    <input type="password" v-model="Password" class="input" placeholder="••••••••" />
                                </div>
                                <div class="spacer is-2x"></div>
                                <div class="field is-grouped" style="justify-content:center">
                                    <div class="control">
                                        <button class="button is-danger" @click="editPassword = false">&emsp;ยกเลิก&emsp;</button>
                                    </div>
                                    <div class="control">
                                        <button class="button is-success" @click="passWordChange()">&emsp;บันทึก&emsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-modal>



                <b-modal :active.sync="editEmail" :width="640" scroll="keep">
                    <div class="card">
                        <header class="modal-card-head">
                            <div class="title is-5">
                                <div class="title is-5">
                                    กรุณาใส่ข้อมูล
                                </div>
                            </div>
                        </header>
                        <div class="card-content">
                            <div class="field">
                                <label class="label">Email ใหม่</label>
                                <div class="control">
                                    <input type="email" v-model="Email" class="input" placeholder="Example@Example" />
                                </div>
                                <label class="label">รหัสผ่าน</label>
                                <div class="control">
                                    <input type="password" v-model="cpass" class="input" placeholder="••••••••" />
                                </div>
                                <div class="spacer is-2x"></div>
                                <div class="field is-grouped" style="justify-content:center">
                                    <div class="control">
                                        <button class="button is-danger" @click="editEmail = false">&emsp;ยกเลิก&emsp;</button>
                                    </div>
                                    <div class="control">
                                        <button class="button is-success" @click="emailChange()">&emsp;บันทึก&emsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-modal>


                <b-modal :active.sync="editPhone" :width="640" scroll="keep">
                    <div class="card">
                        <header class="modal-card-head">
                            <div class="title is-5">
                                <div class="title is-5">
                                    กรุณาใส่ข้อมูล
                                </div>
                            </div>
                        </header>
                        <div class="card-content">
                            <div class="field">
                                <label class="label">เบอร์โทรศัพท์</label>
                                <div class="control">
                                    <input type="number" v-model="Phone" class="input" placeholder="0XXXXXXXXX" />
                                </div>
                                <label class="label">รหัสผ่าน</label>
                                <div class="control">
                                    <input type="password" v-model="cpass" class="input" placeholder="••••••••" />
                                </div>
                                <div class="spacer is-2x"></div>
                                <div class="field is-grouped" style="justify-content:center">
                                    <div class="control">
                                        <button class="button is-danger" @click="editPhone = false">&emsp;ยกเลิก&emsp;</button>
                                    </div>
                                    <div class="control">
                                        <button class="button is-success" @click="phoneChange()">&emsp;บันทึก&emsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-modal>

                <b-modal :active.sync="editAddress" :width="640" scroll="keep">
                    <div class="card">
                        <header class="modal-card-head">
                            <div class="title is-5">
                                <div class="title is-5">
                                    กรุณาใส่ข้อมูล
                                </div>
                            </div>
                        </header>
                        <div class="card-content">
                            <div class="field">
                                <label class="label">ที่อยู่</label>
                                <div class="control">
                                    <textarea class="textarea" placeholder="Address" v-model="Address"></textarea>
                                </div>
                                <label class="label">รหัสผ่าน</label>
                                <div class="control">
                                    <input type="password" v-model="cpass" class="input" placeholder="••••••••" />
                                </div>
                                <div class="spacer is-2x"></div>
                                <div class="field is-grouped" style="justify-content:center">
                                    <div class="control">
                                        <button class="button is-danger" @click="editAddress = false">&emsp;ยกเลิก&emsp;</button>
                                    </div>
                                    <div class="control">
                                        <button class="button is-success" @click="addressChange()">&emsp;บันทึก&emsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-modal>

                <b-modal :active.sync="editComName" :width="640" scroll="keep">
                    <div class="card">
                        <header class="modal-card-head">
                            <div class="title is-5">
                                <div class="title is-5">
                                    กรุณาใส่ข้อมูล
                                </div>
                            </div>
                        </header>
                        <div class="card-content">
                            <div class="field">
                                <label class="label">ชื่อบริษัท </label>
                                <div class="control">
                                    <input type="email" v-model="ComName" class="input" placeholder="Example" />
                                </div>
                                <label class="label">รหัสผ่าน</label>
                                <div class="control">
                                    <input type="password" v-model="cpass" class="input" placeholder="••••••••" />
                                </div>
                                <div class="spacer is-2x"></div>
                                <div class="field is-grouped" style="justify-content:center">
                                    <div class="control">
                                        <button class="button is-danger" @click="editComName = false">&emsp;ยกเลิก&emsp;</button>
                                    </div>
                                    <div class="control">
                                        <button class="button is-success" @click="ComNameChange()">&emsp;บันทึก&emsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-modal>








            </div>
        </div>
    </div>
    <!-- --- อย่าแก้อะไรหลังจากนี้ --- -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/buefy.min.js"></script>



    <script defer>
        // --- เขียน Vue ในนี้จ้า ---
        new Vue({
            el: "#app",
            data: {
                cerUser: [],
                PreData: [],
                Preskill: [],
                openTap: false,
                pass: "••••••••••",
                cpass: "",
                editComName: false,
                ComName: "",
                editAddress: false,
                Address: "",
                editPhone: false,
                Phone: "",
                editEmail: false,
                Email: "",
                editPassword: false,
                Password: "",


            },
            computed: {},
            methods: {
                checkUserIsLogin() {
                    const loadingComponent = this.$buefy.loading.open();
                    fetch("/api/check", {
                            method: "POST",
                        })
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            } else window.location.href = "./loginUser"
                        })
                        .then(data => {
                            this.cerUser = data;
                        })
                    setTimeout(() => loadingComponent.close(), 1000)
                },
                checkUserLogout() {
                    fetch("/api/logout")
                        .then(response => {
                            if (response.ok) {
                                window.location.href = "./loginUser"
                            }
                        })
                },
                getworkdata() {
                    const loadingComponent = this.$buefy.loading.open();
                    fetch("/api/getworkdata")
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            }
                        })
                        .then(data => {
                            this.PreData = data;
                        })
                    setTimeout(() => loadingComponent.close(), 1000)
                },
                gotprofile() {
                    window.location.href = "./workProfile"
                },


                passWordChange() {
                    const loadingComponent = this.$buefy.loading.open();
                    if (this.Password === "") {
                        this.$buefy.toast.open({
                            duration: 3000,
                            message: 'กรุณากรอกข้อมูลให้ครบ!',
                            type: 'is-danger',
                        })
                    } else {
                        fetch("/api/changepassword", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({
                                    newpass: this.Password,
                                    cpass: this.cpass
                                }),
                            })
                            .then(response => {
                                if (response.ok) {
                                    this.$buefy.toast.open({
                                        duration: 3000,
                                        message: 'สำเร็จ!',
                                        type: 'is-success',
                                    })
                                    setTimeout(() => location.reload(), 1000)
                                } else {
                                    this.$buefy.toast.open({
                                        duration: 3000,
                                        message: 'เปลี่ยนข้อมูลไม่สำเร็จ!',
                                        type: 'is-danger',
                                    })
                                }
                            })
                        setTimeout(() => loadingComponent.close(), 1000)
                    }
                },

                emailChange() {
                    const loadingComponent = this.$buefy.loading.open();
                    const a = this.Email.search("@");
                    console.log(a)
                    if (this.Email.search("@") <= 0) {
                        this.$buefy.toast.open({
                            duration: 3000,
                            message: 'กรุณาหรอกอีเมลให้ถูกต้อง!',
                            type: 'is-danger'
                        })
                        loadingComponent.close()
                    } else {
                        fetch("/api/changePre/email", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({
                                    email: this.Email,
                                    cpass: this.cpass
                                }),
                            })
                            .then(response => {
                                if (response.ok) {
                                    this.$buefy.toast.open({
                                        duration: 3000,
                                        message: 'สำเร็จ!',
                                        type: 'is-success',
                                    })
                                    setTimeout(() => location.reload(), 1000)
                                } else {
                                    this.$buefy.toast.open({
                                        duration: 3000,
                                        message: 'รหัสผ่านไม่ถูกต้อง!',
                                        type: 'is-danger',
                                    })
                                }
                            })
                        setTimeout(() => loadingComponent.close(), 1000)
                    }
                },


                ComNameChange() {
                    const loadingComponent = this.$buefy.loading.open();
                    if (this.ComName === "") {
                        this.$buefy.toast.open({
                            duration: 3000,
                            message: 'กรุณาหรอกข้อมูลให้ถูกต้อง!',
                            type: 'is-danger'
                        })
                        loadingComponent.close()
                    } else {
                        fetch("/api/changePre/comname", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({
                                    Name: this.ComName,
                                    cpass: this.cpass
                                }),
                            })
                            .then(response => {
                                if (response.ok) {
                                    this.$buefy.toast.open({
                                        duration: 3000,
                                        message: 'สำเร็จ!',
                                        type: 'is-success',
                                    })
                                    setTimeout(() => location.reload(), 1000)
                                } else {
                                    this.$buefy.toast.open({
                                        duration: 3000,
                                        message: 'รหัสผ่านไม่ถูกต้อง!',
                                        type: 'is-danger',
                                    })
                                }
                            })
                        setTimeout(() => loadingComponent.close(), 1000)
                    }
                },

                phoneChange() {
                    const loadingComponent = this.$buefy.loading.open();
                    if (this.Phone === "") {
                        this.$buefy.toast.open({
                            duration: 3000,
                            message: 'กรุณากรอกข้อมูลให้ครบ!',
                            type: 'is-danger',
                        })
                    } else {
                        fetch("/api/changePre/comphone", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({
                                    phone: this.Phone,
                                    cpass: this.cpass
                                }),
                            })
                            .then(response => {
                                if (response.ok) {
                                    this.$buefy.toast.open({
                                        duration: 3000,
                                        message: 'สำเร็จ!',
                                        type: 'is-success',
                                    })
                                    setTimeout(() => location.reload(), 1000)
                                } else {
                                    this.$buefy.toast.open({
                                        duration: 3000,
                                        message: 'รหัสผ่านไม่ถูกต้อง!',
                                        type: 'is-danger',
                                    })
                                }
                            })
                        setTimeout(() => loadingComponent.close(), 1000)
                    }
                },

                addressChange() {
                    const loadingComponent = this.$buefy.loading.open();
                    if (this.Address === "") {
                        this.$buefy.toast.open({
                            duration: 3000,
                            message: 'กรุณากรอกข้อมูลให้ครบ!',
                            type: 'is-danger',
                        })
                    } else {
                        fetch("/api/changePre/comaddress", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({
                                    Address: this.Address,
                                    cpass: this.cpass
                                }),
                            })
                            .then(response => {
                                if (response.ok) {
                                    this.$buefy.toast.open({
                                        duration: 3000,
                                        message: 'สำเร็จ!',
                                        type: 'is-success',
                                    })
                                    setTimeout(() => location.reload(), 1000)
                                } else {
                                    this.$buefy.toast.open({
                                        duration: 3000,
                                        message: 'รหัสผ่านไม่ถูกต้อง!',
                                        type: 'is-danger',
                                    })
                                }
                            })
                        setTimeout(() => loadingComponent.close(), 1000)
                    }
                },






            },
            created: function() {
                this.checkUserIsLogin();
                this.getworkdata();
            },

        });
    </script>

</body>

</html>